<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <script src="/dist/app.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>