<div class="pure-menu pure-menu-horizontal">
    <a href="#" class="pure-menu-heading pure-menu-link">WoLManager</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/" class="pure-menu-link">Index</a></li>
        <li class="pure-menu-item"><a href="/devices" class="pure-menu-link">Devices</a></li>
    </ul>
</div>