.main {
    padding: 1em;
}

.top-buffer {
    margin-top: 1em;
}

.button-small {
    font-size: 75%;
}

.button-green,
.button-red,
.button-yellow,
.button-blue {
    color: white;
}

.button-green {
    background: rgb(28,184,65);
}

.button-red {
    background: rgb(202,60,65);
}

.button-yellow {
    background: rgb(223,200,50);
}

.button-blue {
    background: rgb(45, 150, 219);
}