<h1>WoLManager</h1>
<a href="/devices/add">Add</a>
<table border="1">
    <thead>
    <th>Name</th>
    <th>IP</th>
    <th>Subnet Mask</th>
    <th>MAC</th>
    <th>Wake</th>
    <th>Edit</th>
    <th>Delete</th>
    </thead>
    <tbody>
    {% for device in devices %}
    <tr>
        <td>{{device.getProperty('name')}}</td>
        <td>{{device.getProperty('ip')}}</td>
        <td>{{device.getProperty('subnet')}}</td>
        <td>{{device.getProperty('mac')}}</td>
        <td><a href="/wake/{{device.getProperty('id')}}">WAKEUP</a></td>
        <td><a href="/devices/edit/{{device.getProperty('id')}}">EDIT</a></td>
        <td><a href="/devices/delete/{{device.getProperty('id')}}">DELETE</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>