{% include "include/head.html.twig" %}
    <body>
        {% include "include/menu.html.twig" %}
        <div class="main">
           {% include "include/alerts.html.twig" %}
        {% block content %}
        {% endblock %}
        </div>
    </body>
{% include "include/bottom.html.twig" %}